@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border:none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}
body{
    font-family: "Outfit", sans-serif;
    background-color: rgb(252, 241, 228);

}
nav{
    background-color:rgb(252, 241, 228);
    position: fixed;
    width: 100%;
    margin:auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 19px;
    height: 70px;
}
.nav-logo{
    max-width: 70px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
position: relative;
padding-bottom: 0.75rem;
color: rgba(51, 27, 0, 0.986);
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(51, 27, 0, 0.986);
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color:rgba(51, 27, 0, 0.986);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #6b3e1d;
}
.carrito{
    color: #4b2503;
    width: 100px;
    font-size: 1.50rem;
}
.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/*------------------------ HERO ----------------------------*/
.container-hero{
    background-image:url(image/imagen-header.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

section .content  p{
    font-size: 30px;
    font-weight: 800;
}
h1{
    font-size: 80px;
}

section .content span{
    color: #4b2503;
    text-shadow: 
    -1px -1px 0 #ccc,
    1px -1px 0 #ccc,
    -1px  1px 0 #ccc,
    1px  1px 0 #ccc;
}
/*---------------------- ABOUT US ---------------------*/
h2{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem 7rem 5rem 7rem;
    font-size: 50px;
    transition: all 0.6s ease;
}
.content-aboutUs{
    font-size:25px ;
    margin: 2rem 1rem;
    text-align: left;
    transition: all 0.5s ease;
    display: flex;
    color: #7a7a7a;
    gap: 5rem;
}
.image-aboutUs{
    border-radius: 15px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
}

.Carta{
    width: 100%;
    border-radius: 20px;
    background-color: #4b2503;

}
.product{
    background-color: #f0c8ac;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 500px;
    display: block;
    
}
.product img{
    padding: 10px;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px;

}

/* ------------------ CONTACT --------------------*/
.container-contact{
    justify-content: space-between;
    display: flex;
}

.maps{
    background-color: #f0c8ac;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    font-size: 25px;
    text-align: center;
    max-width: max-content;
    border-radius: 15px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
}

h4{
    padding-bottom: 10px;
    font-size: 40px;
    color: #4b2503
    
}

.form{
    background-color: #f0c8ac;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    font-size: 25px;
    text-align: center;
    max-width: max-content;
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
}
input{
    font-size: 20px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
